
{% extends 'base.html' %}

{% load static %}

{% block title %}
Create Account
{% endblock %}

{% block content %}

<link rel="stylesheet"
      href="{% static 'create_account.css' %}">

<div class="account-page">

    <div class="account-card">

        <div class="account-icon">
            🏦
        </div>

        <h2>Create Your Account</h2>

        <p class="account-subtitle">
            Enter your details to create your bank account.
        </p>

        <form method="post" class="account-form">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="create-account-btn">
                🏦 Create Account
            </button>

        </form>

    </div>

</div>

{% endblock %}
